/*Components*/

.container{
    padding-left: 10%;
    padding-right: 10%;
}

.btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;

    background: $accient;
    border-radius: 32px;
}
