.header{
    background-color: $primary;
    .container{
        .navbar{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 60px;
            .navbar_logo{
                display: flex;
                align-items: center;
                img{
                    padding-right: 16px;
                }
            }
            .navbar_navigation{
                display: flex;
                align-items: center;
                nav{
                    a{
                        padding-left: 32px;
                        cursor: pointer;
                    }
                }
                .navigation_login-group{
                    display: flex;
                    align-items: center;
                    padding-left: 56px;
                    .vl{
                        width: 0px;
                        height: 24px;
                        border: 1px solid $grey6;
                        opacity: 0.3;
                        margin-left: 24px;
                        margin-right: 24px;
                    }
                    
                }
            }
        }
        .header_content{
        display: flex;
        justify-content: space-between;
        padding-top: 51px;
            .content_block{
                padding-top: 80px;
                .usp_week {
                    font-family: 'Rubik', sans-serif;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    width: 370px;
                    height: 43px;
                    background-color: rgba(255,255,255,.1);
                    border-radius: 32px;
                    .usp_save {
                        width: 120px;
                        height: 31px;
                        background-color: #fff;
                        font-weight: 500;
                        color: #0d0d2b;
                        text-align: center;
                        border-radius: 32px;
                        padding-top: 4px;
                        line-height: 1.5;
                        font-weight: 500;
                      }
                      .usp_friday {
                        font-weight: 400;
                        color: #fff;
                      }
                }
                .btn{
                    width: 202px;
                    height: 64px;
                    border-radius:64px;
                }
                .block_text{
                    padding-top: 24px;
                    padding-bottom: 32px;
                    p{
                        padding-top: 24px;
                    }
                }
            }
        }
    }
}