/*Reset*/
*{
    padding: 0;
    margin: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: $white;
}

a:hover{
    text-decoration: none;
    color: $grey4;
}

button{
    cursor: pointer;
}